:root{
    --logo-blue-color: #2196F3;
    --title-color:#212121;
    --text-color:#757575;
    --logo-black-color:#000000;
    --white-color:#FFFFFF;
    --bg-color:#2F303A;
    --footer-mail:rgba(255, 255, 255, 0.6);
    --button-bg-port:#F5F4FA;
}

.list{
    list-style: none;
}
.site-nav .link.current{
    color: var(--logo-blue-color);
}
.invisibility{
    opacity: 0;
}
/* Шапка */
.logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}
.logo-blue{
    color:var(--logo-blue-color) ;
}
.logo-black{
    color:var(--logo-black-color) ;
}
.mail-link {
    color: var(--logo-blue-color);
    font-weight: 500;
    line-height: 16px;
}
.site-nav .link{
    color: var(--title-color);    
    font-weight: 500;
    line-height: 16px;
}
.tel-link{
    font-weight: 500;
    line-height: 16px;
    color: var(--text-color);
}
.link:focus{
    color: var(--logo-blue-color);
}
.link:hover{
    color: var(--logo-blue-color);
}


/* Головний текст */
.main-text{
    font-family: 'Roboto';
    font-style: normal;
    color:var(--text-color);
    font-weight: 400;    
    font-size: 14px;
    line-height: 24px;
}
.block-service{
    background-color:var(--bg-color);
    position:relative;
    width: 1600px;
    height: 600px;    
    text-align: center;
}
.titel-service{
    color: var(--white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    padding-top: 200px;
}
.button{
    width: 216px;
    height: 50px;
    background-color: var(--logo-blue-color);
    color: var(--white-color);
    border-radius: 4px;
}

.title{
    font-weight: 700;    
    line-height: 16px;
    color: var(--title-color);
}
.work .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--title-color);
}
.team .title{
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: var(--title-color);
}
.team .list .title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--title-color);
}
.team .list .text{    
    font-size: 16px;
    line-height: 19px;
}
/* Подвал */
.logo-white{
    color: var(--white-color);
}
.bg-footer{
    background-color:var(--bg-color);
    position:relative;
    width: 1600px;
    height: 252px;
}
.adress-footer{
    color: var(--white-color);
}
.mail-footer{
    color:var(--footer-mail) ;
}
/* portfolio */
.button-port{
    height: 38px;
    color: var(--title-color);
    background-color: var(--button-bg-port);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;  
    border-color: var(--button-bg-port); 
}
.button-port:hover{
    color: var(--white-color);
    background-color: var(--logo-blue-color);
    border-color: var(--logo-blue-color);
}
.button-port.current{
    color: var(--white-color);
    background-color: var(--logo-blue-color); 
    border-color: var(--logo-blue-color);
}
.collection .list .title{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
}
.collection .list .text{
    font-size: 16px;
    line-height: 30px;
}